# Ignore dataset
data/*
!data/.gitkeep

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
./map/.ipynb_checkpoints/

# Ignore operating system files
.DS_Store

# Ignore other unnecessary files
__MACOSX/
weekly_profile_tfidf.csv
